<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>887634510023-8lqrvec4iv1kfkgoe7040lsr67m5peb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887634510023-8lqrvec4iv1kfkgoe7040lsr67m5peb1</string>
	<key>API_KEY</key>
	<string>AIzaSyDaw2sQzJIFplNJhH9CC43aXZNrXTffMW4</string>
	<key>GCM_SENDER_ID</key>
	<string>887634510023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.imnot.wimp119.SwiftCloudChatRoom</string>
	<key>PROJECT_ID</key>
	<string>cloudchatroom-53b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudchatroom-53b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887634510023:ios:5ab30e2d608da608</string>
	<key>DATABASE_URL</key>
	<string>https://cloudchatroom-53b5e.firebaseio.com</string>
</dict>
</plist>